$white: #fff;

$light_shadow: rgba(0, 0, 0, 0.1);
$regular_shadow: rgba(0, 0, 0, 0.2);
$blue_shadow: rgba(16, 49, 182, 0.3);
$darker_shadow: #000000b3;

$very_dark_blue: hsl(233, 47%, 7%);
$dark_desaturated_blue: hsl(244, 38%, 16%);
$soft_violet: hsl(277, 64%, 61%);
$slightly_transparent_white: hsla(0, 0%, 100%, 0.75);
$slightly_more_transparent_white: hsla(0, 0%, 100%, 0.6);
